* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EBEBEB;
}

header {
    padding: 40px 0px 0px 60px;
    display: flex;
    align-items: center;
    gap: 15px;

    i {
        color: #1E6FF9;
        font-size: 20px;
    }

    h1 {
        font-size: 20px;
        font-weight: bold;
    }
}

main {
    padding: 40px 60px;

    .line {
        background-color: #E0E0E0;
        height: 1px;
        grid-column: 1/3;
    }

    #search_filters {
        background-color: white;
        border-radius: 10px;
        border: 1px solid #E0E0E0;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

        h2 {
            font-size: 22px;
            font-weight: 700;
            align-items: center;
            padding: 20px;
        }

        #formProducts {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 15px;
            align-items: start;
            width: 100%;

            .column {
                display: flex;
                flex-direction: column;
            }

            price-range {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .column.name,
            .column.price {
                padding: 20px 0px 0px 20px;
            }

            label {
                margin-bottom: 10px;
                color: #484A46;
            }

            input[type="text"] {
                font-size: 17px;
                padding: 8px;
                border: 1px solid #E0E0E0;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                color: #6c757d;
                width: 95%;
            }

            input[type="number"] {
                font-size: 17px;
                padding: 12px;
                border: 1px solid #E0E0E0;
                border-radius: 6px;
                width: 45%;
            }
        }

        input[type="submit"] {
            background-color: #B47A7A;
            color: white;
            font-size: 25px;
            padding: 5px;
            margin: 0px 0px 12px 15px;
            border: none;
            width: 15%;
            cursor: pointer;
        }
    }
}