img {
    display: block;
    width: 100%;
    height: auto;
}


#all_products,
#featured_products {
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    margin: 40px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;

    h3 {
        font-size: 20px;
        font-weight: 700;
        grid-column: 1 / -1;
    }

    .product {
        background-color: white;
        border: 1px solid #E0E0E0;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

        h4 {
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        p {
            font-size: 16px;
            color: #484A46;
            padding-bottom: 10px;
        }

        .price {
            color: #1E6FF9;
            font-size: 20px;
            padding-top: 10px;
            font-weight: bold;
        }

        .product-figure {
            position: relative;

            img {
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            figcaption {
                padding: 15px;
                text-align: left;
            }
        }

        .product-figure i {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            color: gray;
            cursor: pointer;
            transition: color 0.5s;
        }

        .product-figure i:hover {
            color: gold;
        }
    }
}